:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Oswald", sans-serif;
    --body-font: "Zain", sans-serif;
    --primary-heading-color: #fff;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: var(--primary-heading-color);
}

.hero article {
    display:block;
    position: absolute;
    top: 175px;
    background-color: var(--accent2-color);
    width: 80%;
    padding: 20px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;

    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 200px;
}