:root {
    --main-color: darkblue;
}
nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 600px;
}

aside {
    width: 400px;
    margin: 25px;
    border: 2px solid rgb(0 0 0 / 0.2);
    padding: 10px;
    background-color: lightgreen;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 50px;
    border-top: 2px dashed black;
    text-align: center;
}